@import "config.scss";

.Header {
  display: flex;
  min-height: 3.5rem;
  padding: .25rem;
  align-items: stretch;
  border-bottom: solid $primary 5px;

  .Header-logo {
    flex: 1;
  }

  .Header-logo {
    background: url(../../assets/images/logo.png) no-repeat 0 center;
    background-size: contain;
    min-width: 6rem;
  }

  .Header-title {
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .Header-sub-title {
      font-size: small;
      text-transform: uppercase;
      text-align: right;
    }
  }
}
