$mdc-theme-primary: rgb(0, 84, 255);
$mdc-theme-accent: rgb(255, 255, 0);
$mdc-theme-background: #f0f0f0;

$primary: $mdc-theme-primary;
$accent: $mdc-theme-accent;
$background: $mdc-theme-background;
$white: #f9f9f9;
$black: #1a1a1a;
$light-grey: #cfcfcf;
$dark-green: rgb(6, 87, 70);
$light-green: rgb(5, 144 ,96);
$happy: #1b5e20;
$sad: #b71c1c;

$small-shadow: 2px 2px 2px rgba(0,0,0,.5);
$big-shadow: 5px 5px 5px rgba(0,0,0,.5);
