@import "~onsenui/css-components-src/src/theme.css";

.cascading-list {
  display: flex;

  .list {
    flex: 1;
    overflow-x: visible;
    overflow-y: auto;

    &:last-child {
      flex: 1;
    }

    .list-header,
    .list-item {
      white-space: nowrap;
    }

    .list-item--selected {
      background-color: var(--list-tap-active-background-color);
    }
  }
}