@import "config.scss";

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  height: 2rem;
  margin-bottom: 1px;

  &.selected {
    background-color: silver;
  }

  .list-item-primary-text {
    flex: 1;
    padding-left: 1rem;

    .list-item-secondary-text {
    }
  }

  .icon {
    min-width: 2rem;
    max-width: 2rem;
  }
}
